<h1>Products</h1>

<p>
	<%= link_to "Create a new product", new_product_path %>
</p>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Title
			</th>
			<th>
				Description
			</th>
			<th>
				Price
			</th>
		</tr>
	</thead>
	<tbody>
		<%= render @products %>
</table>